.boardactions {
  background-color: var(--secondary-background-color);
  padding: 1rem 3rem 1rem 0.7rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 3px;
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: max-content;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-btn {
  color: grey;
  font-size: 0.8rem;
}

.delet-btn {
  color: #dc3232;
  font-size: 0.8rem;
}
