.header-container {
  background: var(--primary-background-color);
  justify-content: space-between;
  max-height: max-content;
  align-items: center;
  display: flex;
  padding: 1rem;
  height: 3rem;
}

.header-logo {
  align-items: center;
  display: flex;
  height: 1rem;
}

.header-logo-text {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 700;
  padding-left: 0.5rem;
}

.current-board-name {
  color: var(--text-color);
  font-size: 1.35rem;
  padding-left: 5rem;
  font-weight: 700;
}

.add-btn {
  background: #635fc7;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-family: 'poppins';
}

.header-options {
  display: flex;
  align-items: center;
  position: relative;
}
