// Dark mode colors
$primary-background-color-dark: #2b2c37;
$secondary-background-color-dark: #20212c;

// Light mode colors
$primary-background-color-light: #FFFFFF;
$secondary-background-color-light: #F5F5F5;

$button-color: #635fc7;