@import "../abstracts/_variables.scss";

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border: 1px solid white;
    border-radius: 8px;
    background-color: $secondary-background-color-dark;

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: white;
    }

    input {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid white;
      border-radius: 4px;
      width: 300px;
      font-weight: 500;
    }

    button {
      padding: 10px 20px;
      width: 100%;
      margin-top: 1rem;
      background-color: #0f2e8a;
      font-weight: 700;
      cursor: pointer;
      font-size: 1rem;
      color: white;
      border: none;
      border-radius: 4px;       
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .signup-link {
    margin-top: 20px;
    color: $secondary-background-color-dark;

    a {
      color: #913636;
      text-decoration: none;
      text-decoration: underline;
    }
  }
}
